.header {
    background-color: #1b1c2a;
}

.body {
    background-color: #73a3a5;
    height:300px;
}

#header{
    cursor: pointer;
    text-decoration: none;
}

.header-content {
    color: aliceblue;
    align-content: center;
    text-align: center;
}

.content-center {
    /*padding-top: 40px;*/
    padding:30px;
    /*display: flex;*/
}

#search-button {
    border-width:1px;
    cursor:pointer;
}

.scraper {
    padding-top:50px;
    transform: scale(1.5);
}

body {
    overflow-x: hidden;
}

.loader {
    margin: auto;
    border: 10px solid #EAF0F6;
    border-radius: 50%;
    border-top: 10px solid #02337a;
    width: 100px;
    height: 100px;
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

img {
    height:100px;
    float: left;
    margin: 5px;
}

.description-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
}

.description-content {
    width:275px;
}

.review {
    float:right;
    width:70%;
    text-align:left;
    display: flex;
    flex-direction: row;
    /*overflow-y: auto;*/
}

.reviewer {
    cursor: pointer;
}

.review-left {
    width:70%;
}

.review-right {
    margin: 5px;
    width:15%;
    left:15%;
    position:relative;
}

.review-right > i {
    top:35px;
    position:relative;
    left:50px;
}

.fa-check-circle {
    color:green;
    scale:3;
}

.fa-times-circle {
    color:red;
    scale:3;
}

.fa-star {
    color:orange;
}

.review-rating > span {
    font-weight: bold;
}

.fa-star-o {
    color:orange;
}

.review-date{
    color: #7c7b7b
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

#pie-chart {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position:absolute;
}

.item-count-display {
    display: flex;
    justify-content: center;
}

.page-button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.page-button:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #04AA6D;
    color: white;
}

.page-button > .available {

}

.all-review {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    width:80%;
}