{% extends 'mainpage.html' %}

{% block content %}
    <h3>Amazon Review Evaluator displays and determines if a review is real or fake</h3>
    <br>
    <h3>How does Amazon Review Evaluator work?</h3>
    <div>
        <img src="https://raw.githubusercontent.com/rcui13/ng_team9/richard/img/python_logo.png" alt="Python logo">
        <img src="https://raw.githubusercontent.com/rcui13/ng_team9/richard/img/openai_logo.png" alt="OpenAI logo">
        <img src="https://raw.githubusercontent.com/rcui13/ng_team9/richard/img/flask_logo.png" alt="Flask logo">
    </div>
{% endblock %}