{% extends 'mainpage.html' %}

{% block content %}
    <h3>Amazon Review Evaluator displays and determines if a review is reliable or unreliable</h3>
    <br>
    <h3>How does Amazon Review Evaluator work?</h3>
    <br>
    <div class="description-flex">
        <div class="description-content">
            <img src="{{url_for('static', filename='python_logo.png')}}" alt="Python logo">
            <span>Python's Beautiful Soup library scrapes Amazon product pages for reviews</span>
        </div>
        <div class="description-content">
            <img src="{{url_for('static', filename='openai_logo.png')}}" alt="OpenAI logo">
            <span>A request is sent to OpenAI's Davinci model to interpret reviews</span>
        </div>
        <div class="description-content">
            <img src="{{url_for('static', filename='flask_logo.png')}}" alt="Flask logo">
            <span>Flask incorporates the Python results and HTML for easy review analysis</span>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        console.log("descriptoin.html")
        function submitForm() {
            const url = ($("#search").serializeArray())[0].value;
            console.log(url);

            if (url === '') {
                alert("Please enter a valid URL");
            } else {
                sessionStorage.setItem("url", url);
                // window.location.replace('/get_reviews');
                let req = new XMLHttpRequest();
                req.onreadystatechange = function()
                {
                    if(this.readyState == 4 && this.status == 200) {
                        console.log("change gstate")
                    } else {
                    }
                }

                req.open('GET', '/get_reviews', true);
                req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
                req.send();
            }

            event.preventDefault();
        }
    </script>
{% endblock %}