{% extends 'description.html' %}

{% block load %}
    <p style="margin:25px; font-size:30px">Fetching reviews...</p>
    <div class="loader"></div>
{% endblock %}

{% block script %}
    <script>
        let url = sessionStorage.getItem("url");
        document.getElementById("url").value = url;
        console.log(url, typeof url)
        let req = new XMLHttpRequest();
        console.log(req)
        req.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log("state change");
            }
        };
        req.open('POST', `/load_reviews`, true);
        req.setRequestHeader("content-type", "application/x-www-form-urlencoded;charset=UTF-8");
        req.send("url=" + url);
    </script>
{% endblock %}