{% extends 'description.html' %}

{% block load %}
    <p style="margin:25px; font-size:30px">Fetching reviews...</p>
    <div class="loader"></div>
{% endblock %}

{% block script %}
    <script>
        let url = sessionStorage.getItem("url")
        document.getElementById("url").value = url;
        // window.location.replace('/load_reviews');
        const req = new XMLHttpRequest();
        req.open('POST', `/load_reviews/${JSON.stringify(url)}`);
        req.send();
    </script>
{% endblock %}