{% extends 'mainpage.html' %}

{% block content %}
    <div class="disclaimer">

    </div>
    <div class="review">
        <div class="review-left">
            <div class="reviewer">
                <a href="https://www.amazon.com//gp/profile/amzn1.account.AGMV6LH7NZXL56FJGOMT4LPENU2A/ref=cm_cr_arp_d_gw_btm?ie=UTF8">
                    andrew
                </a>
            </div>
            <div class="review-rating">
                <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                <span style="padding-left: 10px">Get this ball!</span>
            </div>
            <div class="review-date">Reviewed in the United States 🇺🇸 on February 13, 2023</div>
            <div class="review-text">
                <p>&NewLine;Son loves it</p>
            </div>
        </div>
        <div class="review-right" style="">
            <i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i>
        </div>
    </div>
    <div class="review">
        <div class="review-left">
            <div class="reviewer">
                <a href="https://www.amazon.com//gp/profile/amzn1.account.AGYYHOFY7FDCPZYMS4TRV46FXENQ/ref=cm_cr_arp_d_gw_btm?ie=UTF8">Nemat Heydary</a>
            </div>
            <div class="review-rating">
                <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                <i class="fa fa-star" aria-hidden="true" style="color:orange"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <span style="padding-left: 10px">Not a match ball as they claim but a decent ball nonetheless.</span>
            </div>
            <div class="review-date">Reviewed in the United States 🇺🇸 on January 5, 2023</div>
            <div class="review-text">
                <p>&NewLine;Background: Player, coach, match ball collector and aficionada. Former employee at soccer.com.</p>
                <p>I've had this ball for almost a year and got it based on the advertising that claims it's a match ball. It is not. It is a decent training ball.</p>
                <p>What makes this merely a training ball is the suppleness of the ball. There isn't great bounce to this ball and that translates into little explosiveness when coming off your foot. A match ball wraps around your foot and bounces off your foot but this ball feels plasticky like a futsal ball and almost hurts if you kick it as hard as I can because it lacks suppleness. For $26, it's a decent ball. Would I buy another one, no.It's a good value for the money but the claims that it's a match ball are false. Match balls have a stamp of approval from either FIFA or the NFHS.&NewLine;</p>
            </div>
        </div>
        <div class="review-right">
            <i class="fa fa-check-circle" aria-hidden="true" style="color:green"></i>
        </div>
    </div>


{% endblock %}